<?xml version="1.0"?>

<launch>
<!--  world respawn-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
	    <arg name="world_name" value="$(find p3dxbot)/worlds/pseudobarragem.world" />
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
    </include>    


<!-- models respawn-->

  <arg name="robot_name" default="p3dx" />
  <arg name="robot_position" default="-x -12.5 -y -10 -z 0.00" />


  <group ns="$(arg robot_name)">

    <!-- Load the URDF into the ROS Parameter Server -->
   <!-- <param name="robot_description" command="$(find xacro)/xacro.py '$(find gazebo_plugins)/test/multi_robot_scenario/xacro/p3dx/pioneer3dxAtividade.xacro'" /> -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find p3dxbot)/urdf/pioneer3dxAtividade.xacro'" />
    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model $(arg robot_name) -param robot_description $(arg robot_position) "/>

    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0"/>
      <param name="tf_prefix" type="string" value="$(arg robot_name)"/>
    </node>
  </group>

</launch>